* {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background: #080808;
  color: #fff;
}

.image-area-text {
  width: 100%;
  height: fit-content;
  display: flex;
  gap: 15px;
  justify-content: space-between;

  align-items: center;
  position: relative;
  /* border: 2px solid blue; */
  border-radius: 25px;
  margin-top: 3vw;
  background-image: url("https://img.freepik.com/free-vector/purple-bokeh-vector-digital-business-background_53876-110566.jpg?w=740&t=st=1717095067~exp=1717095667~hmac=b34eafeaaa8297a137b7f503d5aecfe0d62fd5cb23a36045f742638419abcd36");
  background-size: cover;
  background-position: center;
  padding: 4vw 4vw 4vw 4vw;
  /* padding-bottom: 4vw; */
  box-shadow: rgba(248, 2, 2, 0.12) 4px 4px 4px 4px, rgba(255, 0, 0, 0.32) 16px 16px 16px 16px;
}
#header {
  background-image: url("https://images.unsplash.com/photo-1614850523011-8f49ffc73908?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
  /* opacity: 0.7; */
  padding-bottom: 3vw;
  /* padding-left: 4vw; */
}
.image-area-text img{
  width: 26%;
  border-radius: 25px;
  border: 4px solid #45db9c;
  /* margin-top: 3vw; */
  /* padding-left: 6vw; */
}
.container {
  padding: 10px 4vw;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  font-family: Arial, Helvetica, sans-serif;
}

.logo {
  width: 150px;
  border-radius: 3px;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}
li {
  font-size: 0.5rem;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 5px;
  position: relative;
  font-size: 1.5rem;
}

nav ul li a:hover, nav ul li a.active{
  color: aqua;
}
/* For making pink underline */
nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav ul li a:hover::after {
  width: 100%;
}


/* For making h1 larger */
.header-text h1 {
  font-size: 60px;
  margin-bottom: 20px;
}
.header-text h2 {
  font-size: 45px;
  margin-bottom: 20px;
}
.header-text p{
  font-size: 2rem;
}

/* For making Kevin-Red */
.header-text h1 span {
  color: #ff004f;
}
.header-text h2 span {
  color: aqua;
}

/* About */
#about {
  padding: 80px 0;
  color: #ababab;
}
.row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.about-col-1 {
  flex-basis: 35%;
}
.about-col-1 img {
  width: 100%;
  border-radius: 15px;
  height: fit-content;
}

.about-col-2 {
  flex-basis: 50%;
  position: relative;
  z-index: 10;
}

.subtitle {
  font-size: 60px;
  font-weight: 600;
  color: #fff;
  position: relative;
  z-index: 10;
}
.tab-titles {
  display: flex;
  margin: 50px 0px 40px;
}
.tab-links {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  color: #fff;
}
.tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5sec;
}
.tab-links.active-link::after {
  width: 100%;
}
.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
}
.tab-contents ul li span {
  color: #ff004f;
  font-size: 50px;
  font-weight: bold;
}
.tab-contents {
  display: none;
}
.tab-contents.active-tab {
  display: block;
}

/* Services */
#Services {
  padding: 30px 0 50px 0px;
  /* background-color: #dadada; */
  background-image: url("https://t3.ftcdn.net/jpg/02/98/47/38/360_F_298473896_Vsz21xTwMtroEeeGgU8pL2vwt3N65pfR.jpg");
  background-size: cover;
}
.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}
.services-list div {
  background: #262626;
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 8px;
  transition: background 0.5s, transform 0.5s;
}
.services-list div i {
  font-size: 50px;
  margin-bottom: 30px;
}
.services-list div h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}
.services-list div a {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  margin-top: 15px;
  display: inline-block;
}
.services-list div:hover {
  background: #ff004f;
  transform: translateY(-10px);
}

/* portfolio */
#portfolio {
  padding: 50px 0;
}
.work-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}
.work {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.work img {
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}
/* For pink color to image */
.layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), #ff004f);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  transition: height 0.5s;
}
.layer h3 {
  font-weight: 500;
  margin-bottom: 20px;
}
.layer a {
  margin-top: 20px;
  color: #ff004f;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  background: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
}
.work:hover img {
  transform: scale(1.1);
}
.work:hover .layer {
  height: 100%;
}

.btn {
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 2px solid #ff004f;
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: #fff;
  transition: background 0.5s;
}
.btn:hover {
  background: #ff004f;
}

/* Contact */
#contact {
  background-color: #131414;
  padding-top: 4vw;
}
.contact-left {
  flex-basis: 35%;
}
.contact-right {
  flex-basis: 55%;
}
.contact-left p {
  margin-top: 30px;
}
.contact-left p i {
  color: #ff004f;
  margin-right: 20px;
  font-size: 25px;
}
.social-icons {
  margin-top: 30px;
}
.social-icons a {
  text-decoration: none;
  font-size: 30px;
  margin-right: 25px;
  color: aqua;
  display: inline-block;
  transition: transform 0.5s;
}
.social-icons a:hover {
  color: #ff004f;
  transform: translateY(-5px);
}
.btn.btn2 {
  display: inline-block;
  background: #ff004f;
}
.btn.btn2:hover {
  background: transparent;
}
contact-right form {
  width: 100%;
}
form input,
form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background: #262626;
  padding: 15px;
  margin: 15px 0;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
}
form .btn2 {
  padding: 14px 60px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
}
.copyright {
  width: 100%;
  text-align: center;
  padding: 25px 0;
  background: #262626;
  font-weight: 300;
  margin-top: 20px;
}

nav .fas {
  display: none;
}
.tab-contents li {
  font-size: 1.9rem;
}

/* media queries */
@media only screen and (max-width: 600px) {
  #header {
    background-image: url("phone-background.png");
  }
  .header-text {
    margin-top: 100%;
    font-size: 16px;
  }
  .header-text h1 {
    font-size: 30px;
  }
  nav .fas {
    display: block;
    font-size: 25px;
  }
  nav ul {
    background: #ff004f;
    position: fixed;
    top: 0;
    right: -200px;
    height: 100vh;
    width: 200px;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
  }
  nav ul li {
    display: block;
    margin: 25px;
  }
  nav ul .fas {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }
  .sub-title {
    font-size: 40px;
  }
  .about-col-1,
  .about-col-2 {
    flex-basis: 100%;
  }
}

.content-paragraph {
  color: white;
  font-size: 1.2rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.content-h2 {
  color: aqua;
  font-weight: bold !important;
}
.anchor-content {
  color: gold !important;
}

.goola {
  height: 23vw;
  width: 23vw;
  position: absolute;
  top: 0%;
  right: 0%;
  background-color: #45db9c;
  border-radius: 50%;
  filter: blur(25px);
  opacity: 0.8;
  animation-name: goola;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
@keyframes goola {
  from {
    transform: translate(10%, -10%) skew(0);
  }
  to {
    transform: translate(-10%, 10%) skew(-10deg);
  }
}

#skills {
  height: 90vh;
  width: 100%;
  /* background-color: #2D9F6F; */
  padding: 4vw 4vw;
}
#skills h1 {
  font-size: 5vw;
}
.swiper {
  width: 100%;
  height: 100%;
  padding: 4vw 3vw !important;
  border-radius: 20px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.typewriter {
  margin-left: 1.5vw;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 0.15em solid orange;
  animation: blink-caret 0.75s step-end infinite;
  font-family: monospace;
  font-size: 35px;
  font-weight: bold;
  color:#45db9c;
  height: 41px;
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: orange; }
}
.likhna-box{
  display:flex;
  justify-content:left;
  text-align:center;
  align-items: center;
  font-size: 2rem;  
  /* width: 40vw; */
}